.post-item {
	.excerpt {
		text-align: justify;

	}

	.post-img, .box-img {
		max-height: 395px;
		overflow: hidden;
		height: 395px;
		border: 1px solid #CCC;
		padding: 10px;
		border-radius: 5px;
		@include mobile {
			max-height: 195px;
			height: 195px;
		}

		&.img-right {
			height: 195px;
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			border-radius: 10px;
		}
	}

	.title {
		color: $black;
		font-weight: 600;
		@include textWithEllipsis(16, 1.4, 2);
		padding: 0 15px;
	}

	.expert {
		@include textWithEllipsis(14, 1.4, 2)
	}
}

@media screen and (min-width: 600px) {
	.post-item {
		&.post-item-big {
			.post-img {
				width: 50%;
			}

			.post-info {
				width: 50%;

			}
		}
	}
}

.limit-2 {
	@include textWithEllipsis(16, 1.4, 2)

}

@media screen and (max-width: 576px) {
	.post-item {
		.post-img {
			width: 40%;
		}

		.post-info {
			width: 60%;

			.excerpt {
				@include textWithEllipsis(16, 1.2, 2)
			}
		}
	}
}